:root{
  --netflix-color-main: #E50914;
  --netFlix-color-main-dark: #B81D24;
  --netflix-color-black: #221F1F;
  --netflix-color-main-bg: #111;
  --netflix-color-white: #F5F5F1;
}

// netflix font
@import 'https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap';
$netFlixFont: 'Bebas Neue', sans-serif;

@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap';
$font-roboto: 'Roboto', sans-serif;



// simple reset

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html {
  font-size: 62.5%;
  font-family: $netFlixFont;
}

body {
  font-size: 16px;
  font-family: $netFlixFont;
  font-weight: normal;
  background-color: var( --netflix-color-main-bg);
}


.app{
  color: var(--netflix-color-white);
  background-color: var( --netflix-color-main-bg);
  padding-bottom: 1dvh;

  
}
